/**
 *
 *	Main stream styling
 *
**/
.stream {
	.post-container{
		@include box-sizing(border-box);
		width: 25%;
		padding: 0 1.5%;
		margin: 0 0 20px;
		@include respond-to(1199) {
			width: 33%;
		}
		@include respond-to(991) {
			width: 50%;
			padding: 0 2%;
		}

		@include respond-to(767) {
			width: 100%;
			padding: 0;
		}
	}
	.post {
		background: $bgContentColor;
		overflow: hidden;
		@include content-border;

		.content {
			padding: 15px;
			p {
				font-size: 14px;
				line-height: 24px;
				font-weight: normal;
				color: #777;
			}
			&.small {
				h3 {
					font-size: 14px;
					line-height: 24px;
					font-weight: normal;
				}
				p {
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
		.img-container {
			width: 100%;
			overflow: auto;
			max-height: 600px;
			img {
				width: 100%;
				height: auto;
			}
			&.full {
				height: auto;
			}

			@include respond-to(767) {
				max-height: 9999px;
			}
		}

		.footer {
			@include cf;
			background: #F9F9F9;
			padding: 15px;
			font-size: 14px;
			line-height: 16px;
			font-weight: 600;
			color: #999;
		}
		.footer__right {
			float: right;
			text-align: right;

			a {
				color: inherit;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.footer__left {
			float: left;
			text-align: left;
		}

		.link-container {
			padding: 15px;
			display: block;
			border-top: 1px solid #ECEEEE;
			border-bottom: 1px solid #ECEEEE;
			color: #111;
			display: block;
			@include cf;

			img {
				float: left;
				margin: 0 15px 0px 0;
				max-width: 45%;
			}

			h3 {
				font-size: 14px;
				line-height: 20px;
				font-weight: normal;
			}

			p {
				font-size: 11px;
				line-height: 18px;
			}
		}

		.fb-icon {
			color: #3b5998;
			font-size: 14px;
		}

		.insta-icon {
			color: #6E453C;
			font-size: 14px;
		}

		.tw-icon {
			color: #55ACEE;
			font-size: 14px;
		}
	} // post

} //stream